
.record-wrap{
  background: #fff;
  height: 100vh;  
  padding: 40rpx;
}
.record-time{
  padding-top: 160rpx;
  text-align: center;
  font-family: Silom;
  font-size: 120rpx;
  color: #4E4E4E;
  letter-spacing: 0;
}
.record-action{
  position: relative;
  text-align: center;
  margin-top: 60rpx;
  >Image{
    &:first-child{
      width: 350rpx;
      height: 350rpx;
    }
    &:last-child{
      width: 128rpx;
      height: 166rpx;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.animation{
  animation: rotate 1s linear infinite;
}
@keyframes rotate
{
  0%   {transform:rotate(0deg);}
  50%  {transform:rotate(180deg);}
  100% {transform:rotate(360deg);}
}
.record-tip{
  font-size: 28rpx;
  color: #9D9D99;
}
.play-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20rpx;
	margin: 32rpx 0;
	.play-process{
		flex: 1;
		position: relative;
		slider{
			margin: 20rpx;
		}
		Text{
			width: 40rpx;
		}
	}
	.play-ico{
		width: 32rpx;
		height: 44rpx;
		margin-right: 24rpx;
	}
}
.play-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  width:100%;
  box-sizing:border-box;
  bottom:60rpx;
  left:0;
  >button{
    border-radius:50rpx;
    width:300rpx;
    height:82rpx;
    font-size:36rpx;
    border:1px solid #c9062c;
    line-height: 82rpx;
    &:first-child{
      color: #c9062c;
      background: transparent;
    }
    &:last-child{
      color: #fff;
      background: #c9062c;
    }
  }
}